<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">JFS Management App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="watchnode">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Watch Node
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="jsonapiaccessor">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Json Api Accessor
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="filemanager">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> File Manager
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
